@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

body {
  height: 95vh;
  padding: 10px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 22px;
  div.pageHeader {
    border-left: none;
    border-right: none;
    border-top: solid 1px #d8d8d8;
    border-bottom: solid 1px #d8d8d8;
    img {
      max-width: 120px;
      margin: auto;
      display: block;
    }
  }
  div.pageBody {
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    flex-grow: 0;
    div.pageText {
      flex-grow: 1;
      flex-shrink: 1;
      width: 49%;
      h1, h5, p {
        //display: flex;
      }
    }
    div.pageForm {
      flex-grow: 1;
      flex-shrink: 1;
      width: 49%;
      form {
        background-color: #faf2f2;
        border-radius: 5px;
        margin: 10% 200px;
        padding: 24px;
        input, select{
          display: block;
          width: 100%;
          margin: 10px 0;
        }
        textarea {
          width: 100%;
          height: 100px;
        }
        button {
          display: block;
          background-color: #d8d8d8;
          padding: 10px;
          border-radius: 5px;
          border: none;
          margin: 15px 0;
        }
      }
    }
  }
  div.pageFooter {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    flex-grow: 0;
    p {
      &.footerAddress {
        width: 33%;
        display: flex;
        flex-shrink: 1;
        flex-grow: 1;
      }
      &.footerPhoneNr {
        min-width: 33%;
        display: flex;
        flex-shrink: 1;
        flex-grow: 1;
      }
      &.footerEmail {
        min-width: 200px;
        display: flex;
        flex-shrink: 0;
        flex-grow: 0;
      }
    }
  }
}
